.cart-container{
    width: 100%;
    display: flex;
}

.cart-list{
    width: 70%;
}

#price-times , #price-delivery , #price-discount, #price-total{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

#price-total h4{
    font-weight: bold;
}

.amount-section{
    background: white;
    width: 30%;
    padding: 15px;
    margin: 15px;

}

.amount-section h3{
    font-size: 18px;
    opacity: 0.5;
}